<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computación ubicua</title>
    <!--Librería CSS de bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--Librería JavaScript de Bootstrap-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Computación ubicua</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Pagina principal</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
        
           
                
            <!-- <form>
                <div class="mb-3">
                    <label for="user" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="user" placeholder="Ingrese un nombre de usuario" required>
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="pass" placeholder="ingrese una contraseña" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mostrar contraseña</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ingresar</button> 
                    <label class="form-control"><a href="/registro">Aun no está registrado? haga clic aquí</a></label>
                </div>
            </form> -->

            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            <div class="wrap d-md-flex">
                                <div class="img" style="background-image: url(images/bg-1.jpg);">
                          </div>
                                <div class="login-wrap p-4 p-md-5">
                                    <div class="w-100">
                                        <h3 class="mb-4 text-center"><strong>Iniciar Sesión</strong></h3>
                                    </div>
                              <div class="d-flex">
                                  
                                        <div class="w-100">
                                            <p class="social-media d-flex justify-content-end">
                                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                            </p>
                                        </div>
                              </div>
                                    <form action="#" class="signin-form">
                                  <div class="form-group mb-3">
                                      <label for="user" class="form-label text-center darkness">Nombre de usuario</label>
                                      <input type="text" class="form-control" id="user" placeholder="Username" required>
                                  </div>
                            <div class="form-group mb-3">
                              <label for="pass" class="form-label darkness">Contraseña</label>
                              <input type="password" class="form-control" id="pass" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Iniciar Sesión</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Recordarme
                                              <input type="checkbox" checked>
                                              <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="w-50 text-md-right">
                                                <a href="#">¿Olvisdaste tu contraseña?</a>
                                            </div>
                            </div>
                          </form>
                          <p class="text-center">¿Aun no tienes cuenta? <a data-toggle="tab" href="/registro">Registrarse</a></p>
                        </div>
                      </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/main.js"></script>
</body>
</html>